body {
  background-color: white; }

.form-snippet {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto; }
  .form-snippet .form-snippet-heading, .form-snippet .checkbox {
    margin-bottom: 10px; }
  .form-snippet .checkbox {
    font-weight: normal; }
  .form-snippet .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .form-snippet .form-control:focus {
    z-index: 2; }
  .form-snippet input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
  .form-snippet textarea {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 300px; }
  .form-snippet input.error[type="text"], .form-snippet textarea.error {
    border-color: red; }
