{%- extends 'builder.base.xml.jinja2' %}
{% block content %}
{% for action in module.action_window_ids %}
    <record model="ir.actions.act_window" id="{{action.xml_id}}">
        {% if action.name %}
        <field name="name">{{action.name}}</field>
        {% endif %}
        {% if action.model_id.model %}
        <field name="res_model">{{action.model_id.model}}</field>
        {% endif %}
        {% if action.src_model %}
        <field name="src_model">{{action.src_model}}</field>
        {% endif %}
        {% if action.domain %}
        <field name="domain">{{action.domain}}</field>
        {% endif %}
        {% if action.context and action.context!='{}' %}
        <field name="context">{{action.context}}</field>
        {% endif %}
        {% if action.view_id %}
        <field name="view_ids" ref="{{action.view_id}}"/>
        {% endif %}
        {% if action.view_mode %}
        <field name="view_mode">{{action.view_mode}}</field>
        {% endif %}
        {% if action.view_type %}
        <field name="view_type">{{action.view_type}}</field>
        {% endif %}
        {% if action.usage %}
        <field name="usage">{{action.usage}}</field>
        {% endif %}
        {% if action.target and (target != 'current') %}
        <field name="target">{{action.target}}</field>
        {% endif %}
        {% if action.search_view_id %}
        <field name="search_view" ref="{{action.search_view_id}}"/>
        {% endif %}
        {% if action.limit and action.limit != 80 %}
        <field name="limit">{{action.limit}}</field>
        {% endif %}
        {% if action.auto_refresh %}
        <field name="auto_refresh">{{action.auto_refresh}}</field>
        {% endif %}
        {% if not action.auto_search %}
        <field name="auto_search">{{action.auto_search}}</field>
        {% endif %}
        {% if action.multi %}
        <field name="multi">{{action.multi}}</field>
        {% endif %}
        {% if action.show_help -%}
        <field name="help" type="html">
            {{action.help}}
        </field>
        {% endif %}
    </record>
{% endfor %}

    {% if module.post_install_action %}
    <record id="{{ module.name }}.do_action" model="ir.actions.todo">
        <field name="action_id" ref="{{ module.post_install_action.xml_id }}"/>
        <field name="state">open</field>
    </record>
    {% endif %}
{% endblock %}