<gantt string="{{string}}"{% if not create %} create="false" {% endif %}{% if not edit %} edit="false" {% endif %}{% if not delete %} delete="false" {% endif %}{% if date_start %} date_start="{{date_start}}" {% endif %}{% if date_stop %} date_stop="{{date_stop}}" {% endif %}{% if date_delay %} date_delay="{{date_delay}}" {% endif %}{% if progress %} progress="{{progress}}" {% endif %}{% if color %} color="{{color}}" {% endif %}{% if mode and mode<>'month' %} mode="{{mode}}" {% endif %}{% if default_group_by%} default_group_by="{{default_group_by}}" {% endif %}>
</gantt>