{% import "builder.backend.macros.xml.jinja2" as macros %}
{% if not this.inherit_view -%}
<form string="{{string}}" {% if not create %} create="false" {% endif %}{% if not edit %} edit="false" {% endif %}{% if not delete %} delete="false" {% endif %}>
    <sheet>
    <group col="4">
{% else -%}
{% if this.inherit_view_type == 'field' %}
<field name="{{this.inherit_view_field_id.name}}" position="{{this.inherit_view_position}}">
{% elif this.inherit_view_type == 'xpath' %}
<xpath expr="{{this.inherit_view_xpath}}" position="{{this.inherit_view_position}}">
{% endif -%}
{% endif -%}
{% for field in flat_fields %}
    {{ macros.form_field(field) }}
{%- endfor %}
{% if pages %}
    <notebook>
    {%- for page, pfields in pages.items() %}
        <page string="{{page}}">
            {%- for field in pfields %}
            {{ macros.form_field(field) }}
            {%- endfor %}
        </page>
    {%- endfor %}
    </notebook>
{%- endif  %}
{% if not this.inherit_view -%}
    </group>
    </sheet>
</form>
{% else -%}
{% if this.inherit_view_type == 'field' %}
</field>
{% elif this.inherit_view_type == 'xpath' %}
</xpath>
{% endif -%}
{% endif -%}